* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100vh;
}
.navbar {
  height: 20%;
  font-size: 32px;
  text-align: center;
  padding: 30px 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}
.sub-title {
  color: #c6c6c6;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}
.navbar span {
  color: #ff00ff;
  text-decoration: underline;
}
.wrapper {
  height: 75%;
}
.container {
  background-color: #ffffff;
  padding: 50px 30px 80px 30px;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgb(30 21 49 / 30%);
  margin: 0 5vmin 0 5vmin;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  color: #0e101a;
}
.count {
  background-color: #000000;
  width: 80vmin;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgb(30 21 49 / 40%);
  margin: 0 auto;
}
.count p {
  color: #a0a0c0;
}
.count h5 {
  color: #ffffff;
  font-size: 32px;
}

div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
a {
  color: #ff00ff;
}